* {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  margin: 5.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
}

.header {
  width: 100%;
  height: calc(100vh - 7rem);

}


.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

}

.heading {
    font-size: 8rem;
    color: var(--white-color);
}